/* Mariah Jacobs | SI 539 */

/*body {
	font-family: 'Palanquin Dark', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
}*/

p, h2, ol {
	color: white;
}

/*Image Gallery*/
.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.media_cell {
 	filter: drop-shadow(10px 10px 10px dimgrey);
	text-align: center;
	padding: 20px;
}

.media_description {
	margin-top: 5px;
	background-color: #303033;
    text-align: left;
    margin-left: 20px;
    padding: 20px;
}

.media_title {
	font-size: 1.25em;
	font-style: bold;
}

.label{
	 color: #D49D9D;
}

.media_cell img {
	margin: 0 auto;
	padding: 0;
	display: inline-block;
}

.show {
	display: none;
}
