/*
* Name: Mariah Jacobs
* Class: SI539
*/

html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Palanquin Dark', sans-serif; 
  background-color: dimgrey;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}

/*Source for making a background image "opaque": https://css-tricks.com/snippets/css/transparent-background-images/*/
body::after {
  content: "";
  background-image: url("../img/backgrounds/background-home4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
 
h1 {
  background-color: rgba(83, 26, 26, 1);
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2.0em;
  text-align: center;
}

#site_name a {
  color: white;
  text-decoration: none;
}

#site_name a:hover {
  color: #D49D9D;
}

h2{
  line-height: 1.5;
  text-align: center;
  font-size: 1.5em;
}

nav{
  padding-top: 5px;
  text-align: center; 
  list-style: none;
  text-align: center;
  background-color: rgba(129, 50, 50, 0.4);
}

.selected a {
  color: white;
}

nav ul{
  list-style-type: none;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 5;
  grid-template-rows: auto auto auto auto; 
  width: 100vw; 
}

nav li{
  padding-bottom: 10px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: rgba(83, 26, 26, 1);
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

}

.skip a:focus {
  top: 0;
}

:focus{
  border: 2px solid black;
  outline: none;
}

header {
  padding-top: 10px;
}

footer{
  background-color: rgba(83, 26, 26, 1);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100vw;
}

header p{
  color: white;
  font-size: 1.25em;
  line-height: 1.5;
  padding: 30px 50px 50px 30px;
  text-align: center;
}

#criteria {
  line-height: 1.25;
  padding-left: 12%;
  padding-right: 10%;
}


#criteria ol {
  font-size: 1.25em;
  color: white;
  text-align: left;
  padding-top: 30px;
}

#criteria p {
  padding-top: 30px;
  text-align: center;
  color: #D49D9D;
  font-weight: bolder;
  font-size: 1.25em;
/*  -webkit-text-stroke: 0.05px white;
*/}


/*@media screen{
  img {
    display: none
  }
}*/

/*Reponsive Design*/
/*Tablet*/
@media only screen and (min-width:600px) and (max-width:767px) { 

body{
  background: red;
 }

   nav ul{
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  width: 100vw; 
}
}

/*Desktop View*/
@media only screen and (min-width: 768px){

  .container{
/*    display: grid;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;
    grid-template-columns: 50px auto 500px auto 50px;*/
  }

  body: {
    background: blue;
  }

  h1, h2 {
    text-align: left;
    padding-left: 10px;
  }

  header p{
  font-size: 1.25em;
  line-height: 1.5;
  padding: 20px 90px 0px 90px;
  text-align: left;
}
  nav ul{
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  width: 100vw; 
}
} 

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
