/* Mariah Jacobs | MEDA 265 | Final */

body {
	font-family: 'Palanquin Dark', sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top: 0%;
	margin-left: 0%;
	margin-right: 0%;
}

.movies_background {
	background-image: url("../img/backgrounds/background-movies.jpg");
}

.books_background {
	background-image: url("../img/backgrounds/background-books.jpg");
}

header {
	padding: 0;
	margin: 0;
}

h1 {
	background-color: rgba(83, 26, 26, 1);
	margin: 0;
	font-size: 22px;
}

h2 {
	margin-left: 5%;
	text-decoration: none;
	font-size: 30px;
}

#site_name a {
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 0px;
	color: white;
	text-decoration: none;
}

#nav_header a:hover, #nav_footer a:hover, #site_name a:hover {
	color: grey;
}

#nav_footer a {
	font-size: 12px;
	font-style: bold;
}

ul {
	margin-top: 0px;
}

nav li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav ul li a {
	color: white;
	text-decoration: none;
}

.selected_option a {
	color: grey;
}

#nav_header {
	top: 0;
	width: 100%;
	padding: 0px;
	margin-left: 0;
	margin-right: 0;
}

#nav_header li {
	display: inline-block;
	text-align: center;
	margin: 10px 100px 10px 100px;
	font-size: 16pt;
	padding: 15px;
}

p {
	padding: 0;
	margin: 0;
}

p, h2, ol {
	color: white;
}

/*Media Boxes*/
.media_container {
	text-align: center;
}

.media_row {
	display: inline-flex;
	margin-top: 1%;
	margin-right: 15%;
}

.media_cell {
 	filter: drop-shadow(16px 16px 10px black);
 	height: 317px;
    width: 220px;
    background-color: #303033;
    display: inline-block;
    margin-right: 5%;
}

.media_description {
	background-color: #303033;
    height: 65px;
    width: 220px;
    margin: 0;
    text-align: left;
}

.media_description:hover {
	height: 330px;
}

.media_title, .movie_year, .book_author {
	margin-left: 10%;
}

.media_title {
	font-size: 18px;
	font-style: bold;
}

.book_expanded p, .movie_expanded p {
	color: rgba(0, 0, 0, 0);
}

.movie_expanded:hover p, .book_expanded:hover p {
	color: white;
	margin-left: 10%;
	margin-right: 10%;
}

.media_cell img {
	margin: 0 auto;
	padding: 0;
	display: block;

}

nav {
	list-style: none;
	text-align: center;
	background-color: rgba(129, 50, 50, 0.4);
	margin: 0px;
	padding: 0px;
}

.show {
	display: none;
}

#nav_footer {
	color: white;
	margin-bottom: 0;
	padding-top: 30px;
	padding-bottom: 0px;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

#nav_footer:hover {
	padding-top: 0px;

}

#nav_footer:hover .show {
	display: block;
}
