/*
* Name: Mariah Jacobs
* Class: SI539
*/

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Palanquin Dark', sans-serif; 
  background-color: dimgrey;
  font-size: 1.0em;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.parallax {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_background {
  background-image: url("../img/backgrounds/background-home.jpg");
}

.movies_background {
  background-image: url("../img/backgrounds/background-movies.jpg");
}

.books_background {
  background-image: url("../img/backgrounds/background-books.jpg");
}

.resources_background {
  background-image: url("../img/backgrounds/background-resources.jpg");
}
 
h1 {
  background-color: rgba(83, 26, 26, 1);
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.75em;
  text-align: center;
}

#site_name a {
  color: white;
  text-decoration: none;
}

#site_name a:hover {
  color: #D49D9D;
}

h2{
  line-height: 1.5;
  text-align: center;
  font-size: 1.5em;
}

nav{
  padding-top: 5px;
  text-align: center; 
  list-style: none;
  text-align: center;
  background-color: rgba(129, 50, 50, 0.4);
}

.selected a {
  color: white !important;
}

nav ul{
  list-style-type: none;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 5;
  grid-template-rows: auto auto auto auto; 
  width: 100vw; 
}

nav li{
  padding-bottom: 10px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  color: rgba(83, 26, 26, 1);
}

nav.light_text a {
  color: #D49D9D;
}

h2.light_text {
  color: white;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

}

.skip a:focus {
  top: 0;
}

/*:focus{
  border: 2px solid black;
  outline: none;
}*/

header {
  padding-top: 10px;
}

header p{
  color: white;
  font-size: 1.25em;
  line-height: 1.5;
  padding: 30px 50px 50px 30px;
  text-align: center;
}

#criteria {
  line-height: 1.25;
  padding-left: 12%;
  padding-right: 10%;
}

#criteria ol {
  font-size: 1.25em;
  color: white;
  text-align: left;
  padding-top: 30px;
}

#criteria p {
  padding-top: 30px;
  text-align: center;
  color: rgba(83, 26, 26, 1);
  font-weight: bolder;
  font-size: 1.25em;
}

/*Resources page film strip*/
.film_strip_container {
  padding-top: 10px;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 5;
  grid-template-rows: auto auto auto auto; 
  width: 95vw; 
  margin: 0 auto;
  padding-bottom: 50px;
}

.box {
  background: black;
  opacity: 0.8;
  border: 5px white solid;
  color: white;
  padding: 40px;
}

.box ul {
  padding-left: 20px;
  line-height: 1.5;
}

.box h3 {
  color: maroon;
}

.box li a:link {
  text-decoration: none;
   color: #D49D9D;
}

.box li a:visited {
  color: grey;
}

.box li a:hover {
  text-decoration: underline;
}

footer{
  background-color: rgba(83, 26, 26, 1);
  color: white;
  margin-top: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

/*Media queries*/

/*@media screen{
  img {
    display: none
  }
}*/

/*Reponsive Design*/
/*Tablet*/
@media only screen and (min-width:600px) and (max-width:767px) { 

body{
  background: red;
 }

   nav ul{
  grid-column: 1 / 5;
  grid-row: 1 / -1;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  width: 100vw; 
}
}

/*Desktop View*/
@media only screen and (min-width: 768px){

  h1, h2 {
    text-align: left;
    padding-left: 10px;
  }

  header p{
    font-size: 1.25em;
    line-height: 1.5;
    padding: 20px 90px 0px 90px;
    text-align: left;
  }

  nav ul{
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    width: 100vw; 
  }

  .film_strip_container {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-auto-rows: 1fr;
    width: 100vw; 
    margin-top: 5%;
  }

} 

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
